body{
    --twitter-color: #50b7f5;
    --twitter-background-color: #e6ecf0;
}
.App{
    display: flex;
    position: sticky;
}

.container{
   width: 1150px;
    margin: 0 auto;
}
@media only screen and (min-width: 1100px) {
    .container{
       max-width: 1300px;
    }
}
@media only screen and (max-width: 1100px) {
    .container{
        width: 100%;
    }
}